body {
    height: 100%;
}

/*#texture {*/
/*    position: absolute;*/
/*    z-index: 9;*/
/*    width: 100%;*/
/*    opacity: .4;*/
/*}*/

.line {
    width: 100%;
    position: absolute;
    border: 1px solid black;
    border-right : 0;
    border-left: 0;
    margin: 0;
}

/*Page Nr.1*/

.first-page {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f3e1d1;
}

.first-half {
    width: 100%;
    height: 100%;
    background-color: #f3e1d1;
    position: absolute;
}

#toolbar {
    width: 400px;
    position: absolute;
    left: 120px;
    top: 40px;
}

#logo {
    margin: 0px 20px 0px 0px;
}

#navbar {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

#strawberry_1 {
    position: absolute;
    top: 0;
    right: 800px;
}

#shape_1 {
    position: absolute;
    top: 200px;
}

#strawberry_2 {
    position: absolute;
    left: 0;
    bottom: 80px;
}

#text-container-1 {
    width: 800px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 200px;
    left: 200px;
}

#big-text {
    width: 800px;
    font-size: 150px;
    font-family: 'Open Sans', sans-serif;
    color: #ff6329;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#small-text {
    width: 700px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    margin: 15px 0px 0px 0px;
    text-align: center;
}

#shop-and-learn {
    width: 360px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 25px;
}

.button {
    display: inline-block;
    padding: 10px 32px;
    border: 4px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#button-1 {
    margin: 0px 20px 0px 0px;
    background-color: #ff6329;
    color: #f3e1d1;
}

#button-2 {
    background-color: transparent;
    color: #ff6329;
}

#down_arrow {
    position: absolute;
    left: 575px;
    bottom: 120px;
}

#pear_1 {
    position: absolute;
    right: 800px;
    bottom: 0;
}

.second-half {
    width: 600px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #ff6329;
}

.zigzag {
    width: 40px;
    height: 100%;
    position: absolute;
    z-index: 1;

    background-color: #f3e1d1;
}

.zigzag:before,
.zigzag:after {
    content: "";
    display: block;
    position: absolute;
}

.zigzag:before {
    width: 40px;
    height: 100%;
    left: calc(50% - 20px);
    background: linear-gradient(-45deg, black 25px, transparent 0) 0 8px, linear-gradient(225deg, black 25px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 40px 50px;
}

.zigzag:after {
    width: 40px;
    height: 100%;
    left: calc(50% - 15px);
    background: linear-gradient(-45deg, #ff6329 25px, transparent 0) 0 8px, linear-gradient(225deg, #ff6329 25px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-y;
    background-size: 40px 50px;
}

#search-and-shop {
    width: 150px;
    position: absolute;
    right: 125px;
    top: 60px;
}

#search_icon {
    margin: 0px 15px 0px 0px;
}

#vertical-text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 200px;
    color: #f3e1d1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

#shape_2 {
    position: absolute;
    bottom: 100px;
    right: 0;
}

#phone {
    position: absolute;
    z-index: 9;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 24%;
}

@media screen and (max-width: 1635px) {
    #phone {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    #strawberry_1 {
        display: none;
    }

    #shape_1 {
        display: none;
    }

    #strawberry_2 {
        display: none;
    }

    #pear_1 {
        display: none;
    }
}

/*Page Nr.2*/

.second-page {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 2px 0px 0px 0px;
    background-color: #ff6329;
}

#shape_3 {
    position: absolute;
    left: 0;
    top: 60px;
}

#banana_1 {
    position: absolute;
    left: 50px;
    bottom: 80px;
}

#text-container-2 {
    width: 1000px;
    height: 500px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#small-text-2 {
    width: 200px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
}

#big-text-2 {
    width: 1000px;
    font-size: 130px;
    font-family: 'Open Sans', sans-serif;
    color: #f3e1d1;
    margin: 30px 0px 0px 0px;
    text-align: center;
}

#small-text-3 {
    width: 600px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #f3e1d1;
    margin: 30px 0px 0px 0px;
    text-align: center;
}

#button-3 {
    color: #ff6329;
    background-color: #f3e1d1;
    margin: 30px 0px 0px 0px;
}

#pear_2 {
    position: absolute;
    right: 50px;
    top: 90px;
}

#shape_4 {
    position: absolute;
    bottom: 70px;
    right: 0;
}

@media screen and (max-width: 1600px) {
    .second-half {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    #shape_3 {
        display: none;
    }
    #banana_1 {
        display: none;
    }
    #pear_2 {
        display: none;
    }
    #pear_2 {
        display: none;
    }
    #shape_4 {
        display: none;
    }
}